
<div class="images-div">
  <% @data.each_with_index do |fname, i| %>
    <div class="image-div">
      <a id="image-div<%=i%>a" class="image-absolute" href="index?image_name=<%=fname[-28,16]%>.jpg"><img src="http://image.pazudora.gatyaken.com/drop/drop345/<%=fname[-28,16]%>.jpg" height=130 width=100></a>
      <a id="image-div<%=i%>b" class="image-absolute" href="index?image_name=<%=fname[-28,16]%>.jpg"><img src="http://image.pazudora.gatyaken.com/drop/daydrop345/<%=fname[-28,16]%>.jpg" height=130 width=100></a>
    </div>
  <% end %>
</div>

<!--
<script>
  window.onload = function() {
    for (var i=0;i<<%=@data.length%>;i++) {
      var image_a = document.getElementById('image-div'+i+'a');
      var image_b = document.getElementById('image-div'+i+'b');

      image_a.children.onload = function() {
        image_b.style.display = "none";
        return true;
      }

      image_b.children.onload = function() {
        image_a.style.display = "none";
        return true;
      }

      image_b.style.display = "none";

    }
  };
</script>
-->
