
<img class="site_header_image" src="/himg/site_header.png">

<div id="site-box">

<h1>引き継ぎコード発行</h1>
<dt class="hiki-dd"><a>新規で発行する</a></dt>
<span class="hiki-form"<% if @image_name %> style="display:block;" <% end %>>
<dl class="hiki">
<table border="1">
<%= form_tag( { controller: :pad_rmt, action: :publish, method: :post}) do %>
  <tr>  
    <th>画像URL</th>
  <td><dt><%= text_field_tag :url, @image_name, size: 25 %></dt><a class="btn-chara-page" href="images"><img src="/himg/book-icon.png" width=60></a></td>
  </tr>
  <tr>
    <th>お客さんの名前</th>
    <td><dt><%= text_field_tag :customer, '', size: 25 %> さん</dt></td>
  </tr>
  </table>
  <dt><%= submit_tag '引き継ぎコード発行' %></dt>
<% end %>
</dl>
</span>

<dt class="customer-dd" onclick="window.location.href='#publishing';publishing_tab();"><a>履歴を見る</a></dt>
<span class="customer-form">
<dl class="customer">
<a href="#publishing" class="customer-tab-a" onclick="publishing_tab();"><div id="publishing-tab" class="customer-tab">発行中</div></a>
<a href="#published" class="customer-tab-a" onclick="published_tab();"><div id="published-tab" class="customer-tab">発行済み</div></a>
<div class="customer-table" id="publishing">
<table border="1">
  <tr>
    <th>発行日時</th>
    <th>画像URL</th>
    <th>お客さんの名前</th>
  </tr>
  <% @publishing_accounts.each do |account| %>
    <tr>
      <td><dt><a href=""><%=account.created_at.strftime("%Y/%m/%d %H:%M")%></a></dt></td>
      <td><dt><%=account.image_name%></dt></td>
      <td><dt><%=account.customer_name%> さん</dt></td>
    </tr>
  <% end %>
</table>
</div>

<div class="customer-table" id="published">
<table border="1">
  <tr>
    <th>発行日時</th>
    <th>画像URL</th>
    <th>お客さんの名前</th>
  </tr>
  <% @published_accounts.each do |account| %>
    <tr>
      <td><dt><a href=""><%=account.created_at.strftime("%Y/%m/%d %H:%M")%></a></dt></td>
      <td><dt><%=account.image_name%></dt></td>
      <td><dt><%=account.customer_name%> さん</dt></td>
    </tr>
  <% end %>
</table>
</div>
</dl>
</span>

<% if @status %>
  <% if @status == 0 %>
    <h3>発行中</h3>
    <a onclick="window.location.reload();"><input type="button" value="更新する"></a>
  <% elsif @status == 1 %>
    <h3>↓モンスター確認用画像↓</h3>
    <img src="/images/<%=@img_confirm%>">
    <h3>↓お客さんに送信する用の画像↓</h3>
    <img src="/images/<%=@img_for_sendding%>">
  <% end %>
<% end %>

<!-- 
<div id="fixed" style="position: fixed;width: 80px;bottom: 100px;right: 0%;margin-right: 5px;" >
  <a href=""><img src="/himg/book-icon.png" style="height:100%;width:100%;"></a>
</div>
-->

<br>
</div> <!-- site-box -->

<script>
$(function(){
    $(".hiki-dd").on("click", function() {
        $(this).next().slideToggle(300);
        });
    });

$(function(){
    $(".customer-dd").on("click", function() {
        $(this).next().slideToggle(300);
        });
    });
</script>

<script>
  function publishing_tab() {
    var tab = document.getElementById("publishing-tab");
    var tab_non = document.getElementById("published-tab");
    tab.style.backgroundColor="white";
    tab_non.style.backgroundColor="#848290";
  }

  function published_tab() {
    var tab = document.getElementById("published-tab");
    var tab_non = document.getElementById("publishing-tab");
    tab.style.backgroundColor="white";
    tab_non.style.backgroundColor="#848290";
  }
</script>
